.p-mean{
    font-family: 'calibri', sans-serif;
    font-size: 20px;
}
.butds1{
    font-size: 30px;
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 40px;
    padding: 20px;
 }
 .data{
    margin-left: 500px;
 }
 .data-h{
    margin-left: 680px;
 }